{% extends 'movies/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<style>
.page-single .container.player iframe{
    width:100%!important;
    height:400px!important;
}

</style>
        <!-- Collapsible content End-->
        <br><br>
        <div class="container w-75">
                  {% if messages %}
         			     {% for message in messages %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
           		   {% endfor %}
           	{% endif %}
            <div class="row mb-4">
                <div class="col-md-6 col-lg-6 h-50">
                <div class="thumb">
                    <img src="{{ movies.thumbnail }}" alt="..." class="img-fluid rounded" >
                        </div>
                        {% if request.user.is_superuser or request.user.is_staff %}
                        <div class="mt-4">
                <a href="{% url 'updatemovie' movies.slug %}"><button class="btn btn-primary my-2 my-sm-0 mr-3">Update <i class="fa fa-pencil-square-o" style="font-size: 20px;" aria-hidden="true"></i></button></a>
                <a href="{% url 'deletemovie' movies.slug %}"><button class="btn btn-danger my-2 my-sm-0">Delete <i class="fa fa-trash-o" style="font-size: 20px;" aria-hidden="true"></i></button></a>
                </div>
                {% endif %}
                </div>
                <div class="col-md-6 h-45">
                    <div class="aside">
                        <h3 class="mb-3">{{ movies.name }}</h3>
                        
                        <div style="float:right;">
                                <a href="#">
                                <button class="btn btn-outline-info btn-sm mr-2" style="border-radius: 50%;color:white!important;"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                                </a>
                                <a href="{% url 'allmovies' %}">
                                <button class="btn btn-outline-info btn-sm" style="color:white!important;">{{ movies.Tagname }}</button>
                                </a>
                        </div>
                        <div class="favourite mt-4">
                            <p class="date"><i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i> {{ average }}/<span class="text-secondary">10</span></p>
                            <h6 class="date">{{ movies.comment_count }} reviews</h6>
                           

                            <div class="associate mt-3">
                            
                            <p>Genre: {{ movies.genre }}</p>
                        
                            
                            <p>Release Date: {{ movies.release_date }}</p>
                            <p>Runtime: {{ movies.runtime}}</p>
                            <p>Language: {{ movies.language }}</p>
                            <p>IMDB Link:  <a class="text-primary" href="{{ movies.imdb }}" target="blank"> {{ movies.imdb }} </a></p>
                            <p>Source: {{ movies.source }}</p>
                            </div>
                        <br>
                        <div class="downloadlink">
                           <a style="display:block;" href="{{ movies.download_link }}"><button type="button" class="btn btn-primary btn-md btn-block"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp; Download</button></a>
          
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-dark navbar-expand-lg bg-transparent">
            <ul class="nav nav-pills mx-auto" id="pills-tab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">OVERVIEW</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">REVIEW</a>
                  </li>
                  {% comment %} <li class="nav-item">
                      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true">RELATED MOVIES</a>
                  </li> {% endcomment %}
                  <li class="nav-item">
                      <a  class="nav-link" href="#pills-trailer" id="pills-trailer-tab" data-toggle="pill" aria-controls="pills-trailer" aria-selected="true">WATCH TRAILER</a>
                  </li>
            </ul>
        </nav>
</div>  






<!-- Collapsible content -->

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="page-single">
            <div class="container">
                <div class="content">
                    <p>{{ movies.overview }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="page-single">
            <div class="container" style="color:white;">
                
                <div class="form-row">
    {% if request.user.is_authenticated %}
                        <div class="form-group col-md-4">
                            <form action="{% url 'allmoviesInfo' movies.slug %}" method="POST">
                                {% csrf_token %}
                                    {{ form.comment|as_crispy_field }}

                                    <input type="range" id="rangeInput" name="rating" min="0" max="10" value="0" step="0.5" oninput="amount.value=rangeInput.value">
                                    <output name="amount" id="amount" for="rangeInput">0</output>
                                    <button type="submit" class="btn btn-primary btn-md btn-block mt-2">Submit</button>
                            </form>
                        </div>
                        {% else %}
                      <div class="form-group col-md-12">                      
                      <a href="{{ get.absolute.uri }}/login/?next=/news/{{ slug }}" type="submit" class="btn btn-outline-info" style="color:white;">Login to Add review</a>
                      </div>
                        {% endif %}
                        <div class="col-md-6 ml-4">
                            <div class="scrollbar">
                            {% for review in reviews %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="images">
                                    <img src="{{ review.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                                    <p>{{ review.user.username }}</p>
                                    <p data-aos="fade-right" data-aos-delay="200" ><i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i> {{ review.rating }}/<span class="text-secondary">10</span></p>
                                    {% if request.user == review.user %}
                                    <div>
                                        <a style="color: white;" class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{% url 'editreview' movies.slug review.id %}">Edit</a>
                                        <a style="color: white;" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'deletereview' movies.slug review.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md pt-2 pb-2 rounded" style="border:1px solid white;">
                                <p class="text-justify">{{ review.comment }}</p>
                            </div>
                        </div>
                                <p class="text-right">{{ review.date_posted|timesince }} ago</p>
                        <br>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-trailer" role="tabpanel" aria-labelledby="pills-trailer-tab">
        <div class="page-single">
            <div class="container player w-75">
                {{ movies.iframe|safe }}
            </div>
        </div>
    </div>

    {% comment %} <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"> 
        <div class="page-single">
            <div class="container">
                <div class="row">
                    {% for relates in related  %}
                        <div class="col-sm-4 col-md-4 col-lg" data-aos="fade-right" data-aos-delay="100">
                            <a href="#" class="album-poster mb-2"><img src="{{ relates.thumbnail.url }}" alt="..." class="img-fluid rounded"></a>
                            <p class="date" data-aos="fade-left" data-aos-delay="200" style="color: white;">{{ relates.release_date }}</p>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}

        