{% load static %}
          <div class="widget tags" style="border:none;"> 
          <div class="form-element">       
              <h2 class="text-center">NEWSLETTER</h2>
              <p class="text-center">Stay updated with our latest</p>
            <a style="display:block;" href="{% url 'subscribe' %}"><button type="button" class=" form-btn btn btn-md btn-block">Subscribe</button></a>
            </form>
          </div>
          </div>

           <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
            {% for tag in tags %}
              <li class="list-inline-item"><a href="{% url 'tagged' tag.slug %}" class="tag">#{{ tag.name }}</a></li>
            {% empty %}
              <li class="list-inline-item"><p class="tag">No Tags</p></li>
            {% endfor %}
            </ul>
          </div >
      
        
    
        

       
       
       
       
       
       
       
       
       
       
       

     