{% load static %}
   <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> 
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script> 
   <script src="{% static './js/main.js' %}"></script>
   <script src="{% static './js/aos.js' %}"></script>
   <script src="{% static './js/slugify.js' %}"></script>
   <script src="{% static './js/slugify2.js' %}"></scrip>
   <script src='{% static "js/highlight.pack.js" %}'></script>
   <script src="{% static 'js/ckeditor-init.js' %}"></script>
   <script  src="{% static 'js/ckeditor.js' %}"></script>
   <script  src="{% static 'js/config.js' %}"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   
   