{% extends 'movies/base.html' %}
{% load static %}
{% load urlify %}


{% block content %}
<style>
  .post-body .newsfeed img{
    width: 100%;
  }
  .post-body iframe{
    width: 100%!important;
  }
  label{
  color:white;
  }
.newsfeed p{
  color:black!important;
  }
img.post-image{
  width:100%;
  height: 500px;
}
@media only screen and (max-width:1130px){
  img.post-image{
  width:100%;
  height: 100%;
}
}
</style>
        
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-8 h-50">
                    <div class="p-3 newsfeed rounded" style="background-color:white; border: 4px solid cyan;">
                                {% if messages %}
         			     {% for message in messages %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
           		   {% endfor %}
           	{% endif %}
                        <img src="{{ post.thumbnail }}" alt="..." class="img-fluid w-100 rounded post-image" >
                        <div class="social text-grey share mt-2" style="font-size:20px!important;">    
                          <p>Share on:
    <a class="facebook" target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>

    <a class="twitter" target="blank" href="https://twitter.com/home?status={{ post.content|urlify|truncatechars:80  }}%20{{ request.build_absolute_uri }}">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>


    <a class="google" target="blank" href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>


    <a class="linkedin" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title|urlify }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
     <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </p>
  </div>
                        {% if request.user.is_superuser or request.user.is_staff %}
                  <div>
                    <a style="color: white;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ post.get_update_url }}">Update</a>
                    <a style="color: white;" class="btn btn-danger btn-sm mt-1 mb-1" href="{{ post.get_delete_url }}">Delete</a>
                  </div>
                  {% endif %}
                        <h2 class="mt-3">{{ post.title }}</h2>
                    <div class="post-body mb-2" data-aos="zoom-in" data-aos-delay="200" >
                       {{ post.content|safe }}
                    </div>
                  <div class="review">
                    <p class="author" data-aos="fade-left" data-aos-delay="200"><i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 15px;"></i> {{ post.author.user.first_name }} {{ post.author.user.last_name }}</p>
                    <p class="date ml-2" style="display: inline;" data-aos="fade-left" data-aos-delay="200"><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.timestamp|timesince}} ago</p>
                    <p class="author ml-2" data-aos="fade-left" data-aos-delay="200"><i class="fa fa-eye" aria-hidden="true"></i> {{ post.view_count }}</p>
                    <p class="date ml-2" style="display: inline;" data-aos="fade-left" data-aos-delay="200"><i class="fa fa-comments-o" aria-hidden="true"></i> {{ post.comment_count }}</p>
                 </div>
                 </div>

                 <!-- navigation -->
                 <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                 {% if post.previous_post %}
                 
                 <a href="{{ post.previous_post.get_absolute_url  }}" class="prev-post text-left d-flex align-items-center mr-3">
                    <div class="icon prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="text" ><strong class="text-secondary">Previous </strong>
                      <h6 style="display:block;">{{ post.previous_post.title }}</h6>
                    </div>
                    </a>
                    {% endif %}
                    {% if post.next_post %}
                    <a href="{{ post.next_post.get_absolute_url  }}" class="next-post text-right d-flex align-items-center justify-content-end">
                        <div class="text"><strong class="text-secondary">Next </strong>
                        <h6 style="display:block;">{{ post.next_post.title }}</h6>
                        </div>
                    <div class="icon next"><i class="fa fa-angle-right" aria-hidden="true">   </i></div>
                    </a>
                     {% endif %}
                    </div>
<br><br>
                    <div class="post-comments">
                        <header>
                          <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
                        </header>
                        {% for comment in post.get_comments %}
                        <div class="comment">
                          <div class="comment-header d-flex justify-content-between">
                            <div class="user d-flex align-items-center">
                              <div class="image">
                              <img src="{{ comment.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                              </div>
                              <div class="title mt-4"><strong>{{ comment.user.username }}</strong><span class="date">{{ comment.timestamp|timesince }}</span></div>
                            </div>
                          </div>
                          <div class="comment-body mb-0">
                            <p>{{ comment.content }}</p>
                          </div>
                        </div>
                        {% if request.user == comment.user %}
                        <div class="text-right">
                            {% comment %} <a style="color: white;" class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{% url 'editreview' movies.slug review.id %}">Edit</a> {% endcomment %}
                            <a style="color: white;" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' post.slug comment.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                        </div>
                        {% endif %}
                        {% endfor %}

                      </div>

                      {% if request.user.is_authenticated %}
                      <div class="add-comment">
                        <header>
                          <h3 class="h6">Leave a reply</h3>
                        </header>
                        <form action=""  method="POST" class="commenting-form">
                          {% csrf_token %}
                          <div class="row">
                              <div class="form-group col-md-12">
                                  {{ form }}
                              </div>
                            <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-outline-info btn-sm my-2 my-sm-0">Submit Comment</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      {% else %}
                      <div class="form-group col-md-12">
                      <a href="{{ get.absolute.uri }}/login/?next=/news/{{ slug }}" type="submit" class="btn btn-outline-info btn-sm my-2 my-sm-0">Login to comment</a>
                      </div>
                      {% endif %}
                </div>
            
                  <div class="col-md-6 col-lg h-50">
                  {% include 'movies/mostrecent.html' %}
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in category_count %}
            <div class="item d-flex justify-content-between"><h6>{{ cat.category__name }}</h6><span>{{ cat.category__name__count }}</span></div>
            {% endfor %}
          </div>

         {% include 'movies/newsletter.html' %}
                   </div>
            </div>
      </div>
            
            

{% endblock %}