{% extends 'movies/base.html' %}
{% load static %}


{% block content %}

            <hr>
            <nav class="navbar navbar-dark navbar-expand-lg bg-transparent">
              <ul class="navbar-nav mr-auto">
                  <h4 class="mr-4">{{category.name}}</h4>
                  {% if request.user.is_superuser or request.user.is_staff %}
                  <li class="nav-item"><a href="{% url 'news-create' %}" class="nav-link "><i class="fa fa-plus" aria-hidden="true"></i> Add New Post</a></li>
                  {% endif %}
                  </ul>
              <form action="{% url 'search' %}" class="search-form mt-2">
                <div class="form-group mr-4 search">
                    <input type="text" name="q" placeholder="Search">
                    <button type="submit" class="submit"><i class="fa fa-search" style="font-size:17px;" aria-hidden="true"></i></button>
                </div>
              </form>
            </nav>
            <hr>
          
            <!-- SECOND NAV END -->


    <!-- NEWS -->
   <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for posts in page_obj %}
              <div class="post col-xl-6">
                <div class="post-thumbnail">
                <a href="{{ posts.get_absolute_url }}" class="post-thumb">
                <img src="{{ posts.thumbnail }}" alt="..." class="img-fluid rounded">
                </a>
                </div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date mr-3 meta-last">{{ posts.timestamp|date:"d N | Y"}}</div>
                    <div class="category"><a style="color: white; href="{% url 'postCategory' posts.category.slug%}"><i class="fa fa-tags" aria-hidden="true" style="font-size: 15px"></i> {{ posts.category.name }}</a></div>
                  </div><a href="{{ posts.get_absolute_url }}">
                    <h3 style="font-size:20px;">{{ posts.title }}</h3></a>
                  <div class="post-footer d-flex align-items-center">
                    <div class="date mr-3"><i class="fa fa-clock-o"></i> {{ posts.timestamp|timesince }} ago</div>
                    <div class="comments meta-last"><i class="fa fa-comments-o"></i> {{ posts.comment_count }}</div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End post-->
            </div>
            <!-- Pagination -->
      
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-template d-flex justify-content-center">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a href="?{{page_request_var}}=1" class="page-link"> <i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                  <li class="page-item"><a href="?{{page_request_var}}={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                  <li class="page-item"><a href="?{{page_request_var}}={{ num }}" class="page-link active">{{ num }}</a></li>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <li class="page-item"><a href="?{{page_request_var}}={{ num }}" class="page-link">{{ num }}</a></li>
                  {% endif %}
                 {% endfor %}
  
                 {% if page_obj.has_next %}
                  <li class="page-item"><a href="?{{page_request_var}}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                  <li class="page-item"><a href="?{{page_request_var}}={{ page_obj.paginator.num_pages }}" class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                  {% endif %}
                </ul>
              </nav>
          </div>
        </main>

        <aside class="col-lg-4">
        {% include 'movies/mostrecent.html' %}
         <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for posts in categories %}
            <div class="item d-flex justify-content-between"><a href="{% url 'postCategory' posts.slug %}">{{ posts.name }}</a><span>{{ posts.post_set.count }}</span></div>
            {% endfor %} 
          </div>
          {% include 'movies/newsletter.html' %}
        </aside>

       
       
       </div>
       
       
       
       
       
       
       
       

        </div>
                    
            

{% endblock %}


