{% extends "controlpanels/base_newsletter.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="{% url 'control_newsletter' %}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        <li><a href="{% url 'control_settings' %}"><i class="fa fa-cogs"></i><span>Settings</span></a>
        </li>
        <li><a href="{% url 'control_newsletter_list' %}"><i class="fa fa-file-text"></i><span>All NewsLetters</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
{% include 'controlpanels/nav.html' %}
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
  <!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'control_newsletter' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary">{{user.username}}</span>, Welcome back</h1>
      <p>Very detailed & featured admin.</p>
    </div>


<div class="container">
 <form method="POST" action="">
 {% csrf_token %}
 <div class="form-row">
  <div class="form-group col-md-6">
  {{ form.subject|as_crispy_field}}
  </div>
  <div class="form-group col-md-6">
   {{ form.status|as_crispy_field}}
  </div>

  <div class="form-group col-md-12">
  {{ form.body|as_crispy_field}}
  </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
  {{ form.email|as_crispy_field}}
  </div>
</div>       
 <button class="btn btn-primary" type="submit">Save</button>
 </form>
 </div>

  </div>
  <!-- //content -->
</div>
<!-- main content end-->
</section>
{% endblock  %}
  <!--footer section start-->
