{% extends "movies/base.html" %} 
{% load crispy_forms_tags %}
 {% block content %} 
 <div class="container w-75">
    <div class="content-section mt-4">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.author.profile_picture.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-default">{{ request.user.email }}</p>
                
                    <a style="display:block; "href="{% url 'password_reset' %}"><p class="text-muted mt-2">Reset Password</p></a>
                    <a href="{% url 'unsubscribe' %}"><button class="btn btn-outline-info btn-md mt-2" style="color:white;">Unsubscribe from newsletter</button></a>
                
            </div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        {{ u_form|crispy}}
                    </div>
                    <div class="col-md-6">
                        {{ p_form|crispy}}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
 {% endblock %} 